.bgImageHero {
  object-fit: cover;
  z-index: 1;
}

.bgRetanguleBenefits {
  object-fit: contain;
}

.bgGridHero {
  object-fit: cover;
  z-index: 2;
}

.bgGradientHero {
  background: linear-gradient(135deg, #04a859 0%, #047d43 55%, #316178 100%);
}

.bgGradientHeroSecondary {
  background: linear-gradient(135deg, #316178 0%, #047d43 75%, #04a859 100%);
}
